<div class="wrapper">
	<h1>{{title}}</h1>
	<small>Made by: <a href="http://www.chadjewsbury.com">Chad Jewsbury</a> </small>

	<div class="board">
		<div class="cell" id="0"></div>
		<div class="cell" id="1"></div>
		<div class="cell" id="2"></div>
		<div class="cell" id="3"></div>
		<div class="cell" id="4"></div>
		<div class="cell" id="5"></div>
		<div class="cell" id="6"></div>
		<div class="cell" id="7"></div>
		<div class="cell" id="8"></div>
	</div>

	<p class="message">Choose any square to begin</p>
	<button class="reset">Play Again?</button>
</div>
