<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="Tic-Tac-Toe! by Chad Jewsbury">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.min.css">
  </head>
  <body>
    {{{body}}}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src='/js/main.min.js'></script>
  </body>
</html>
