@import './normalize'

*
	box-sizing: border-box

body
	padding: 50px
	font: 14px "Lucida Grande"

a
	color: #00B7FF;

.board
	height: 310px
	width: 310px
	border: 5px solid #444

.cell
	float: left
	width: 100px
	height: 100px
	border: 3px solid #444

.cell:hover
	background-color: #bbb
	cursor: pointer
